{% extends 'master' %}

{% block content %}
  <div class="__banner">
    <div class="banner__inner">
      <ul>
        <li>
          <a href="/todo">
            Todo
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
